* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}


.session {
  list-style: none;
}

.user-name {
  text-decoration: none;
  color: skyblue;
}

a:link {
  color:brown;
  }
  
  a:visited {
  color:brown;
  }
  
  a:hover {
  color:#FF0099;
  text-decoration:underline;
  }
  
  a:active {
  color:violet;
  }


.logout {
  text-decoration: none;
  color:skyblue;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.new-group {
    text-decoration: none;
    color: skyblue;
}