<%= render "shared/header" %>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      一歩先の読書体験を
    </h2>
    <p class='service-explain'>
      Rindokuで気軽にオンライン輪読会
    </p>
  </div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      ただの読書ではなく、その先へ
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "pic.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>より深い読書</span>
          
        </h3>
        <p class='reason-list-description'>
          他者の視点にふれて、視野が広がる
        </p>
      </li>
      <li class='list'>
        <%= image_tag "pic2.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>より効率的な読書</span>
          
        </h3>
        <p class='reason-list-description'>
          グループで分担して読むことで、効率的に理解する
        </p>
      </li>
      <li class='list'>
      <%= image_tag "pic3.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>アウトプットの場</span>
        </h3>
        <p class='reason-list-description'>
        知識をアウトプットすることで、知識を力に変える
        </p>
      </li>
    </ul>
  </div>

  <div class='ad-contents'>
    <h2 class='ad-title'>
      <span>Rindoku</span>で人生を変えよう。
    </h2>
    <p class='ad-explain'>
      読書はしているけれど、なかなか力にならないと思っているあなたへ。
    </p>
    <p class='ad-explain'>
      Rindokuで学びを成長につなげましょう。
    </p>
    <p class='ad-explain'>
      インプット重視からアウトプット重視の読書へ。
    </p>
    
  </div>

  <div class='feature-contents'>
    <h2 class='title'>
      Rindokuの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <h3 class='feature-list-text'>
          かんたんに始められる！
        </h3>
        <p class='feature-list-description'>
          面倒な申込みは必要ありません。
        </p>
      </li>
      <li class='list'>
        <h3 class='feature-list-text'>
          わずらわしい通知なし！
        </h3>
        <p class='feature-list-description'>
          その他SNS等とアプリを分けることで、通知がごちゃごちゃになりません。
        </p>
      </li>
      <li class='list'>
        <h3 class='feature-list-text'>
          スキマ時間で学べる！
        </h3>
        <p class='feature-list-description'>
          チャット形式のメッセージ投稿なので、スキマ時間に学べる
        </p>
      </li>
    </ul>
  </div>
 


